# This is an example environment file for the Expo project.
# You can copy this file to .env.local and set your own values for the environment variables.
# to get the local IP address of your laptop, run `ipconfig` on Windows or `ifconfig` on Mac/Linux
# and look for the IPv4 address of your active network connection.
# If the laptop's Wi-Fi IPv4 address changes, update this value.

EXPO_PUBLIC_GATEWAY_URL=http://192.168.1.8:8000